<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LibreriaAPIBaseURL</key>
    <string>https://libreria-api-v9h0.onrender.com</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Usamos Face ID únicamente para desbloquear funciones locales de seguridad.</string>
</dict>
</plist>
